<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indicates that we are using iisnode to handle requests -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Specify the Node.js app entry point -->
    <rewrite>
      <rules>
        <rule name="NodeJS">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Log errors and diagnostics -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />

    <!-- Specify the maximum length of time that a request can execute -->
    <!-- .<httpPlatform processPath="%ProgramFiles%\nodejs\node.exe" arguments="index.js" stdoutLogEnabled="true" stdoutLogFile="..\logs\node-express.log" startupTimeLimit="60" /> -->

  </system.webServer>
</configuration>
